body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("SnezBg.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Top Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin:0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3566D6;
  color: white;
}
/* Center Content */
.centercontent {
  margin: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.55);
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(93, 226, 231);
}
.centercontent h1 {
text-align: center;
}
