body{
background-color:black;
color:white;
margin:0;
}
/* Top Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin:0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3566D6;
  color: white;
}
/* Home Page Text */
.hptext {
  text-align: center;
}
/* Rotating Card */
  .card-container {
    perspective: 1000px;
    display:flex;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 200px;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .card:hover {
    transform: rotateY(180deg);
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-face .back {
    padding: 200px 300px
    background-color: #2ecc71;

  .front {
    background-color: #3498db;
  }

  .back {
    background-color: #2ecc71;
    transform: rotateY(180deg);
  }
